<template>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<NuxtLink class="navbar-brand" to="/">Accueil</NuxtLink>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<NuxtLink class="nav-link" aria-current="page" to="/string">Chaîne de caractère</NuxtLink>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</template>
